/* Navigation bar */
#nav-bar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}

/* Navigation logo */
#nav-bar .logo {
  width: 80px;
  height: 80px;
}

/* Navigation header */
#nav-bar .header {
  font-size: 2em;
  line-height: 80px;
  margin-left: 10px;
}

/* Compose button */
#compose {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #D1F2EB;
  color: #00a087;
  margin: 10px 0px;
  padding: 0px 15px;
}

/* Compose button hover effect */
#compose:hover {
  background-color: white;
  color: black;
}