/* New tweet container */
.container .new-tweet {
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
}

/* New tweet container title */
.container .new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0px;
}

/* New tweet container text area */
.container .new-tweet form textarea {
  width: 100%;
  padding: 5px;
}

/* New tweet container character counter */
.container .new-tweet form .counter {
  float: right;
  font-size: 12px;
  padding: 5px;
}

/* New tweet container over character count indicator */
.over {
  color: red;
}

/* Hide empty character message initially */
.none {
  display: none;
}

/* Hide exceeds 140 characters message initially */
.exceed {
  display: none;
  color: red;
}

/* Post tweet container */
.post-tweet {
  margin-top: 10px;
  opacity: 0.5;
}

/* Post tweet container hover */
.post-tweet:hover {
  background-color: #f8f8f8;
  opacity: 1;
}

/* Post tweet container hover for flag, re-tweet, and like */
.post-tweet:hover i {
  opacity: 1;
}

/* Post tweet container header */
.post-tweet header {
  height: 50px;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eee;
}

/* Post tweet container header image */
.post-tweet header .bird {
  border-radius: 4px;
  background-color: #00a087;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 2px;
  float: left;
}

/* Post tweet container header name */
.post-tweet header .name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  float: left;
}

/* Post tweet container header username */
.post-tweet header .userName {
  font-size: 12px;
  margin: 8px 5px;
  float: right;
}

/* Post tweet container content */
.post-tweet .content {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  word-wrap: break-word;
  padding: 20px 10px;
  margin: 0px;
}

/* Post tweet container footer */
.post-tweet footer {
  display: flex;
  justify-content: space-between;
  height: 25px;
  border: 1px solid #d9d9d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Post tweet container footer days */
.post-tweet footer .days {
  font-size: 10px;
  margin: 5px;
}

/* Post tweet container footer icons (flag, re-tweet, and like) */
.post-tweet footer i {
  color: #00a087;
  opacity: 0;
  margin: 3px;
  float: right;
}