.container .new-tweet {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
}

.container .new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0px;
}

.container .new-tweet form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.container .new-tweet form .counter {
  float: right;
}

.over {
  color: red;
}